textarea {
    min-height: 400px;
}

.mail {
    border: 1px solid black;
    border-radius: 20px;
}

.read {
    background-color: lightgrey;
}

.timestamp {
    float: right;
    font-size: 100px;
}